
html {
    background-color : #F0F0F0; /*light grey */
}
body {
    background-color : white;
}
header{
    width:100%;
    height:50px;
    text-align: center;
}
nav {
    float:right;
    width:15%;
    background-color: lightblue;
}
article {
    float:left;
    width:70%;
}

footer{
    clear:both;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}
